# This is an example secret configuration file.
# Copy this file to 'application-secret.yml' and fill in your private credentials.
# 'application-secret.yml' is ignored by Git.

# spring:
#   datasource:
#     username: my_custom_username
#     password: my_custom_password
# jwt:
#   secret: my-custom-secret-key-that-should-never-be-committed
